@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.followCursor {
  width: 40px;
  height: 40px;
  border-radius: 80%;
  position: absolute;
  scale: 0;
  backdrop-filter: invert(1);
  z-index: 1000;
  pointer-events: none;
}
.presentation {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .arrow {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    animation: MoveUpDown 1s ease-in-out infinite;
    animation-play-state: paused;
    &:hover {
      animation-play-state: running;
    }
    &.hidden {
      display: none;
    }
  }
  .presentation-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap: 60px;
    .name-img {
      width: 70%;
    }
   div {
     //margin-top: -82px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: auto;
      width: fit-content;
      height: fit-content;
      h1 {
        font-size: 1rem;
        font-weight: 500;
        background-color: black;
        padding: 0.5rem 1rem;
        color:white;
        width: fit-content;
        border-radius: 8px;
      }
      h3 {
        font-size: 1rem;
        font-weight: 500;
      }
    }
   }
  }
}

.footer {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
  background-color: black;
  color: white;
  div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .presentation {
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      background: radial-gradient(62% 48% at center, #FFC38D 0%, #FFFF 80% );
      transform: rotate(-18deg) translate(0, 60px);
      width: 80%;
      height:80%;
    }
    .presentation-container {
      div {        
        flex-direction: row;
        height: 35vh;
        align-items: normal;
        img {
          width: 50%;
          margin-top: -5rem;
          margin-left: -5rem;
        }
        div { 
          max-width: 50%;
          h1 {
            font-size: 1.3rem;
          }
          h3 {
            font-size:1.3rem;
          }
        }
      }
    }
  }

  .footer {
    div:first-child {
      flex-direction: row;
      div:first-child {
        justify-content: flex-start;
      }
    }
  }
}